<h1><%=@power.name.titleize%></h1>
<div><%=@power.description%></div>

<br>

<h3>Heroines With This Power</h3>

<ul>
<% @power.heroines.each do |heroine| %>
  <li><%=link_to heroine.super_name, heroine_path(heroine)%></li><br>
<% end %>
</ul>

<br>

<h3><%=link_to "Edit this Power?", edit_power_path(@power)%></h3>

<h3><%=link_to "Return to Index?", powers_path%></h3>
