<h1><%=@heroine.name%></h1>
<h3>Super Name:<%= @heroine.super_name%></h3>
<h4>Power: <%=link_to @heroine.power.name, power_path(@heroine.power)%></h4>

<%= form_tag("/heroines/", method: "get") do %>
  <%= submit_tag("Heroine Index") %>
<%end%>
